In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import AdaBoostRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,5
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,8
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,9

## Encode all the category columns

In [7]:
Ordinal_varcol=["Medu","Fedu", "famrel","freetime", "goout", "Dalc","Walc", "health","traveltime","famsize"]
Nominal_varcol=["school","sex","address","Pstatus","Mjob","Fjob","reason","guardian","failures","internet","nursery","higher","activities","schoolsup","famsup","paid","romantic"]
Numerical_col=["age","absences"]

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(df["famsize"])

array([0, 0, 1, ..., 0, 1, 1])

In [10]:
df_1 =df.copy()

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for i in Ordinal_varcol:
    df_1[i]=le.fit_transform(df_1[i])

In [13]:
df_1

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,Grade
0,GP,F,18,U,0,A,4,4,at_home,teacher,...,no,no,3,2,3,0,0,2,6,6
1,GP,F,17,U,0,T,1,1,at_home,other,...,yes,no,4,2,2,0,0,2,4,5
2,GP,F,15,U,1,T,1,1,at_home,other,...,yes,no,3,2,1,1,2,2,10,8
3,GP,F,15,U,0,T,4,2,health,services,...,yes,yes,2,1,1,0,0,4,2,15
4,GP,F,16,U,0,T,3,3,other,other,...,no,no,3,2,1,0,1,4,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,0,T,2,3,services,other,...,yes,no,4,3,1,0,1,4,4,10
1040,MS,F,18,U,1,T,3,1,teacher,services,...,yes,no,3,2,3,0,0,0,4,15
1041,MS,F,18,U,0,T,1,1,other,other,...,no,no,0,0,0,0,0,4,6,11
1042,MS,M,17,U,1,T,3,1,services,services,...,yes,no,1,3,4,2,3,1,6,10
1043,MS,M,18,R,1,T,3,2,services,other,...,yes,no,3,3,0,2,3,4,4,11

In [15]:
df_1=pd.get_dummies(df_1, columns=Nominal_varcol, drop_first=True)

In [16]:
df_1

,age,famsize,Medu,Fedu,traveltime,studytime,famrel,freetime,goout,Dalc,...,failures_2,failures_3,internet_yes,nursery_yes,higher_yes,activities_yes,schoolsup_yes,famsup_yes,paid_yes,romantic_yes
0,18,0,4,4,1,2,3,2,3,0,...,0,0,0,1,1,0,1,0,0,0
1,17,0,1,1,0,2,4,2,2,0,...,0,0,1,0,1,0,0,1,0,0
2,15,1,1,1,0,2,3,2,1,1,...,0,1,1,1,1,0,1,0,1,0
3,15,0,4,2,0,3,2,1,1,0,...,0,0,1,1,1,1,0,1,1,1
4,16,0,3,3,0,2,3,2,1,0,...,0,0,0,1,1,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,19,0,2,3,0,3,4,3,1,0,...,0,0,1,0,1,1,0,0,0,0
1040,18,1,3,1,0,2,3,2,3,0,...,0,0,1,1,1,0,0,1,0,0
1041,18,0,1,1,1,2,0,0,0,0,...,0,0,0,1,1,1,0,0,0,0
1042,17,1,3,1,1,1,1,3,4,2,...,0,0,1,0,1,0,0,0,0,0
1043,18,1,3,2,2,1,3,3,0,2,...,0,0,1,0,1,0,0,0,0,0

In [21]:
# split the data into features and targets
X =df_1.copy()
y = X.pop("Grade")

In [22]:
x_train, x_val, y_train, y_val = train_test_split(X,y, random_state=42, test_size=0.2)

## Algorithm

In [23]:
lr = LinearRegression()
model_1 = lr.fit(x_train, y_train)

predict_1 = model_1.predict(x_val)
eval_1 = mean_absolute_error(y_val, predict_1)
print(f"the mean absolute error by {lr} is {eval_1}")

the mean absolute error by LinearRegression() is 2.266934010769022

In [26]:
ls = Lasso()
model_2 = ls.fit(x_train, y_train)

predict_2 = model_2.predict(x_val)
eval_2 = mean_absolute_error(y_val, predict_2)
print(f"the mean absolute error by {ls} is {eval_2}")

the mean absolute error by Lasso() is 2.616935547984805

In [29]:
dr = DecisionTreeRegressor()
model_3 = dr.fit(x_train, y_train)

predict_3 = model_3.predict(x_val)
eval_3 = mean_absolute_error(y_val, predict_3)
print(f"the mean absolute error by {dr} is {eval_3}")

the mean absolute error by DecisionTreeRegressor() is 2.839712918660287

In [30]:
sv = SVR()
model_4 = sv.fit(x_train, y_train)

predict_4 = model_4.predict(x_val)
eval_4 = mean_absolute_error(y_val, predict_4)
print(f"the mean absolute error by {sv} is {eval_4}")

the mean absolute error by SVR() is 2.445943468018135

In [31]:
ab = AdaBoostRegressor()
model_5 = ab.fit(x_train, y_train)

predict_5 = model_5.predict(x_val)
eval_5 = mean_absolute_error(y_val, predict_5)
print(f"the mean absolute error by {ab} is {eval_5}")

the mean absolute error by AdaBoostRegressor() is 2.354912473412305

In [32]:
gb = GradientBoostingRegressor()
model_6 = gb.fit(x_train, y_train)

predict_6 = model_6.predict(x_val)
eval_6 = mean_absolute_error(y_val, predict_6)
print(f"the mean absolute error by {gb} is {eval_6}")

the mean absolute error by GradientBoostingRegressor() is 2.2067843494875765